# Binaries for programs and plugins
/ServerConsole/*.exe
/ServerConsole/*.exe~
/ServerConsole/*.dll
/ServerConsole/*.so
/ServerConsole/*.dylib

# Test binary, built with `go test -c`
/ServerConsole/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/ServerConsole/*.out

# Dependency directories (remove the comment below to include it)
# vendor/
